force-app/main/default/flows/Apheresis_Release.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Apheresis Release {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apheresis Release</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>demo</name>
        <label>demo</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>task_subflow</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Complete the task&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>demo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>task_subflow</name>
        <label>task subflow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>COC_Creation_for_Task_Subflow</flowName>
        <inputAssignments>
            <name>assessmentTaskId</name>
            <value>
                <elementReference>assessmentTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>carePgmEnrolleeWkOrdStepId</name>
            <value>
                <elementReference>carePgmEnrolleeWkOrdStepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careProgramEnrolleeId</name>
            <value>
                <elementReference>careProgramEnrolleeId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>assessmentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>carePgmEnrolleeWkOrdStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>careProgramEnrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
