force-app/main/default/flows/ATM_Evaluation_Flow_Override.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Sets the taskIds collection variable with the ID of the Assessment Task from GetAssessmentTasks.</description>
        <name>SetCollectionVariable</name>
        <label>Set Collection Variable</label>
        <locationX>1062</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>taskIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverAssessmentTasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCurrentTaskStatusCompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets isOrchestrationConditionMet to False.</description>
        <name>SetReturnValueFalseForMeetingOrchCond</name>
        <label>Set Return Value To False</label>
        <locationX>528</locationX>
        <locationY>2300</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets isOrchestrationConditionMet to True.</description>
        <name>SetReturnValueTrueForMeetingOrchCond</name>
        <label>Set Return Value To True</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>Stores the status of a completed orchestration step.</description>
        <name>Completed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether currentWorkOrderStepId contains an ID.</description>
        <name>HaveValidWorkOrderStepId</name>
        <label>Have Valid Work Order Step ID?</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetCustodyRecordOfStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>HasNoWorkOrderId</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkOrderStepId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentWorkOrderStepId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReturnValueTrueForMeetingOrchCond</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the status of the current item in the loop is Completed.</description>
        <name>IsCurrentTaskStatusCompleted</name>
        <label>Is Current Task Status Completed?</label>
        <locationX>1062</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetReturnValueFalseForMeetingOrchCond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsCompletedTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverAssessmentTasks.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverAssessmentTasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the status of the custody record in the Custodies from GetCustodyRecordOfStage record collection is “Completed”.</description>
        <name>IsCustodyStatusForStageCompleted</name>
        <label>Is Custody Status For Stage Completed?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SetReturnValueFalseForMeetingOrchCond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>StageStatusCompleted</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>GetCustodyRecordOfStage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCustodyRecordOfStage.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCustodyRecordOfStage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetReturnValueTrueForMeetingOrchCond</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether Custody from GetCustodyRecordOfStep contains a record and whether the status of the Custody is “Completed”.</description>
        <name>IsCustodyStatusForStepCompleted</name>
        <label>Is Custody Status for Step Completed?</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SetReturnValueFalseForMeetingOrchCond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>StepStatusCompleted</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>GetCustodyRecordOfStep.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCustodyRecordOfStep.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCustodyRecordOfStep.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAssessmentTasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the status of the custody record in the Custodies from GetCustodyRecordOfTask record collection is “Completed”.</description>
        <name>IsCustodyStatusForTaskCompleted</name>
        <label>Is Custody Status for Task Completed?</label>
        <locationX>1062</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetReturnValueFalseForMeetingOrchCond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>TaskStatusCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverCustodyRecordsOfTasks.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverCustodyRecordsOfTasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the evaluation is for the completion of a stage or step.</description>
        <name>IsEvaluationOfStageCompletion</name>
        <label>Is Evaluation of Stage Completion?</label>
        <locationX>528</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>IsStepStatusComplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>EvaluationForStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCustodyRecordOfStage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the status of the current work order step is completed.</description>
        <name>IsStepStatusComplete</name>
        <label>Is Step Status Completed?</label>
        <locationX>1007</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SetReturnValueFalseForMeetingOrchCond</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsCompletedStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>associatedOrchestrationStepStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HaveValidWorkOrderStepId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ATM Evaluation Flow Override {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATM Evaluation Flow Override</label>
    <loops>
        <description>Repeats actions in loop for each assessment task in Assessment Tasks from GetAssessmentTasks. Stores the result in the taskIds collection variable.</description>
        <name>IterateOverAssessmentTasks</name>
        <label>Iterate Over Assessment Tasks</label>
        <locationX>886</locationX>
        <locationY>782</locationY>
        <collectionReference>assessmentTaskRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCollectionVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCustodyRecordOfTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each custody record in the Custodies from GetCustodyRecordOfTask record collection.</description>
        <name>IterateOverCustodyRecordsOfTasks</name>
        <label>Iterate Over Custody Records Of Tasks</label>
        <locationX>886</locationX>
        <locationY>1448</locationY>
        <collectionReference>GetCustodyRecordOfTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCustodyStatusForTaskCompleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetReturnValueTrueForMeetingOrchCond</targetReference>
        </noMoreValuesConnector>
    </loops>
    <overriddenFlow>healthcloud_ato_flows__CheckAllTask</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>EvaluationFlow</processType>
    <recordLookups>
        <description>Gets assessment task records with a reference record ID that matches currentWorkOrderStepId. Stores the results in the Assessment Tasks from GetAssessmentTasks record collection.</description>
        <name>GetAssessmentTasks</name>
        <label>Get Assessment Tasks</label>
        <locationX>886</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverAssessmentTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrderStepId</elementReference>
            </value>
        </filters>
        <object>AssessmentTask</object>
        <outputReference>assessmentTaskRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the custody record with a reference record that matches the currentworkOrderStepId. Stores the ID and the status of the custody record in the Custody from GetCustodyRecordOfStage record collection.</description>
        <name>GetCustodyRecordOfStage</name>
        <label>Get Custody Record Of Stage</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCustodyStatusForStageCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustodyChainEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the custody record with a care program enrollee work order step that matches the currentWorkOrderStepId. Stores the result in the Custody from GetCustodyRecordOfStep record variable.</description>
        <name>GetCustodyRecordOfStep</name>
        <label>Get Custody Record Of Step</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCustodyStatusForStepCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrderStepId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustodyChainEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the custody record associated with the ID of the assessment task stored in the taskIds collection variable. Stores the ID and status of the custody in the Custodies from GetCustodyRecordOfTask record collection.</description>
        <name>GetCustodyRecordOfTask</name>
        <label>Get Custody Record Of Task</label>
        <locationX>886</locationX>
        <locationY>1340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverCustodyRecordsOfTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>taskIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CustodyChainEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>402</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsEvaluationOfStageCompletion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a collection of assessment task records and their statuses.</description>
        <name>assessmentTaskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <description>Stores the status of the step that uses this evaluation flow to determine when the step is complete.</description>
        <name>associatedOrchestrationStepStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the step ID of the work order that&apos;s passed into the flow.</description>
        <name>currentWorkOrderStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a value that determines whether the evaluation flow conditions are met and is available as output from the flow. The isOrchestrationConditionMet is a required variable for evaluation flows and the only evaluation flow variable that&apos;s available for output.</description>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isTaskComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the assessment task associated with the care program enrollee work order.</description>
        <name>taskIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
