force-app/main/default/flows/Book_Patient_Waitlist_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <description>Has the Patient used the link already</description>
        <name>HasInvitationUsed</name>
        <label>Has Invitation Used?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ExpiredAppointmentInvitationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotUsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AppointmentDetailsScreen</targetReference>
            </connector>
            <label>Not Used</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the validity of the appointment invitation by checking if Appointment Invitation from Get Appointment Invitation record variable contains a record, that the appointment invitation is active, and if the InvitationExpirationDateTimeFormula is greater than the current time.</description>
        <name>IsInvitationValid</name>
        <label>Is Invitation Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ExpiredAppointmentInvitationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAppointmentInvitation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAppointmentInvitation.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invitationExpiryDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceAppointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>invitationExpiryDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!GetAppointmentInvitation.CreatedDate} + ({!invitationExpiryInHours} / 24)</expression>
    </formulas>
    <interviewLabel>Book Patient Waitlist Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Patient Waitlist Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the appointment invitation record ID for the appointment invitation sent to the waitlist participant. Stores the result in the Service Appointment from Get Service Appointment record variable.</description>
        <name>GetAppointmentInvitation</name>
        <label>Get Appointment Invitation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsInvitationValid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvitationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationIdentifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AppointmentInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the service appointment related to the appointment invitation. Stores the result in the Appointment Invitation from Get Appointment Invitation record variable.</description>
        <name>GetServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasInvitationUsed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppointmentInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAppointmentInvitation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the flow user to confirm or decline a waitlist appointment invitation.</description>
        <name>AppointmentDetailsScreen</name>
        <label>Appointment Details Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>Confirm_Action</name>
            <actionName>WaitlistFlows__UpdateApptStatusFlow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>GetServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentStatus</name>
                <value>
                    <stringValue>Scheduled</stringValue>
                </value>
            </inputParameters>
            <label>Confirm Action</label>
            <nameSegment>WaitlistFlows__UpdateApptStatusFlow</nameSegment>
        </actions>
        <actions>
            <name>Decline_Action</name>
            <actionName>WaitlistFlows__UpdateApptStatusFlow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>GetServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentStatus</name>
                <value>
                    <stringValue>Canceled</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>statusReason</name>
                <value>
                    <stringValue>Declined</stringValue>
                </value>
            </inputParameters>
            <label>Decline Action</label>
            <nameSegment>WaitlistFlows__UpdateApptStatusFlow</nameSegment>
        </actions>
        <actions>
            <name>Update_Appointment</name>
            <actionName>WaitlistFlows__UpdateApptStatusFlow</actionName>
            <actionType>flow</actionType>
            <label>Update Appointment</label>
            <nameSegment>WaitlistFlows__UpdateApptStatusFlow</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AppointmentDetailsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AppointmentDetailsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AppointmentDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Appointment Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Time: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetServiceAppointment.SchedStartTime} - {!GetServiceAppointment.SchedEndTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Provider Name: {!GetServiceAppointment.Subject}&lt;/p&gt;&lt;p&gt;Appointment Type: {!GetServiceAppointment.EngagementChannelType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ConfirmAppointment</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Confirm Appointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Confirm_Action.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Confirm_Action.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Confirm_Action.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RejectAppointment</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Decline Appointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Decline_Action.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Decline_Action.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Decline_Action.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Confirm_Action.Results.Flow__InterviewStatus</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Decline_Action.Results.Flow__InterviewStatus</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AppointmentDetailsScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AppointmentDetailsScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorSection</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Something went wrong!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Something went wrong, Please try again!&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Confirm_Action.IsSuccess</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Decline_Action.IsSuccess</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AppointmentDetailsScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AppointmentDetailsScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeclinedSection</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Appointment Declined!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have declined your appointment invitation. You are still in the waitlist and will be notified when another appointment becomes available.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Decline_Action.IsSuccess</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AppointmentDetailsScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AppointmentDetailsScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Booked</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Appointment Confirmed!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have successfully accepted your appointment invitation.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Confirm_Action.IsSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>ConfirmAppointment</eventSource>
            <handlers>
                <screenActionName>Confirm_Action</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>RejectAppointment</eventSource>
            <handlers>
                <screenActionName>Decline_Action</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>AppointmentDetailsScreen</eventSource>
            <handlers>
                <screenActionName>Update_Appointment</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <description>Displays an appointment expiration message to the flow user.</description>
        <name>ExpiredAppointmentInvitationScreen</name>
        <label>Expired Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExpiredAppointmentInvitation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Appointment Expired!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;It looks like the appointment link you clicked has expired. Appointment links are only valid for a limited time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>WaitlistFlows__BookWaitlistApptFlow</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAppointmentInvitation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>invitationExpiryInHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the unique identifier for the appointment invitation sent to the waitlist participant.</description>
        <name>invitationIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
