force-app/main/default/flows/CBVR_Populate_Fields_from_Lookups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_From_Lookups</name>
        <label>Assign From Lookups</label>
        <locationX>728</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>$Record.Patient_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Patient_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.PersonBirthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.HealthCloudGA__Gender__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Insurance_Provider_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.Payer.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.MemberNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Group_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.GroupNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscriber_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.Subscriber.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Provider_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Provider_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Provider_NPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider.HealthCloudGA__TaxId__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Patient</name>
        <label>Has Patient</label>
        <locationX>364</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Has_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_Is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Plan</targetReference>
            </connector>
            <label>Patient Is Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Plan</name>
        <label>Has Plan</label>
        <locationX>365</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Has_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_Is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Insurance_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Provider</targetReference>
            </connector>
            <label>Plan Is Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Provider</name>
        <label>Has Provider</label>
        <locationX>363</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Get_Patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient</targetReference>
            </connector>
            <label>Provider Is Set</label>
        </rules>
    </decisions>
    <description>Record-triggered flow on CareBenefitVerifyRequest. On create/update, pulls Patient (Account), Member Plan, and Provider (Account) details via Get_Patient/Get_Plan/Get_Provider and updates CBVR fields (patient name/DOB/gender, payer name, policy #, group #, subscriber name, provider name, provider NPI).</description>
    <environments>Default</environments>
    <interviewLabel>CBVR – Populate Fields from Lookups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CBVR – Populate Fields from Lookups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get_Patient</label>
        <locationX>555</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Details__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan</name>
        <label>Get_Plan</label>
        <locationX>680</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Insurance_Information__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider</name>
        <label>Get_Provider</label>
        <locationX>544</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_From_Lookups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Provider_Information__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Has_Patient</targetReference>
        </connector>
        <filterFormula>OR(
  ISBLANK({!$Record__Prior.Id}),  /* run on create too */
  {!$Record.Patient_Details__c}        &lt;&gt; {!$Record__Prior.Patient_Details__c},
  {!$Record.Insurance_Information__c}  &lt;&gt; {!$Record__Prior.Insurance_Information__c},
  {!$Record.Provider_Information__c}   &lt;&gt; {!$Record__Prior.Provider_Information__c}
)</filterFormula>
        <object>CareBenefitVerifyRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
