force-app/main/default/flows/COC_Creation_for_Task_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>error_creating_custody_item</name>
        <label>error creating custody item</label>
        <locationX>314</locationX>
        <locationY>1556</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Creating Custody Item</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Something went wrong when we tried to create a custody item record. Ask your Salesforce admin for help.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Decision_Table_for_Custody_Verification_Type_Override</name>
        <label>Invoke Decision Table for Custody Verification Type Override</label>
        <locationX>314</locationX>
        <locationY>2504</locationY>
        <actionName>CustodyVerificationTypeOverride_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Does_Decision_Table_Return_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CountryId</name>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkTypeId</name>
            <value>
                <elementReference>Get_Work_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskName</name>
            <value>
                <elementReference>Get_Task.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkProcedureId</name>
            <value>
                <elementReference>Get_Work_Procedures.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustodyVerificationTypeOverride_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_custodyItemId</name>
        <label>Copy 1 of Set custodyItemId</label>
        <locationX>50</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>custodyItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_custody_item_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country</name>
        <label>Set Country</label>
        <locationX>182</locationX>
        <locationY>2204</locationY>
        <assignmentItems>
            <assignToReference>country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Geo_Country.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Procedures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_custodyItemId</name>
        <label>Set custodyItemId</label>
        <locationX>116</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>custodyItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custody_Chain_Entry.CustodyItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Custody_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_work_order_id_1</name>
        <label>set work order id 1</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>workOrderRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Step.ParentEnrolleeWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Enrollee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_work_order_id_2</name>
        <label>set work order id 2</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>workOrderRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stage.PreviousWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Custody_Item</name>
        <label>Create Custody Item?</label>
        <locationX>314</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CreateItems</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>custodyItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>custodyItemId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_custody_item_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Decision_Table_Return_Output</name>
        <label>Does Decision Table Return Output?</label>
        <locationX>314</locationX>
        <locationY>2612</locationY>
        <defaultConnector>
            <targetReference>Get_Custody_Chain_Entry_for_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>DoesNotReturnOutput</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Invoke_Decision_Table_for_Custody_Verification_Type_Override.outcomeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoke_Decision_Table_for_Custody_Verification_Type_Override.singleOutcome.CustodyVerificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NotApplicable</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Enrollment_Location_Entered</name>
        <label>Is Enrollment Location Entered</label>
        <locationX>314</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Procedures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enrollee.EnrollmentLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Enrollee.EnrollmentLocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Geo_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCareProgramEnrolleeWorkOrderFound</name>
        <label>Is Care Program Enrollee Work Order Found?</label>
        <locationX>512</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Custody_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CareProgramEnrolleeWorkOrderFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stage.PreviousWorkOrderId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Stage.PreviousWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_work_order_id_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_custody_item_record_found</name>
        <label>Was custody item record found?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>IsCareProgramEnrolleeWorkOrderFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CustodyItemFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custody_Chain_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custody_Chain_Entry.CustodyItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_custodyItemId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>COC Creation for Task Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COC Creation for Task Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_custody_chain_entry</name>
        <label>create custody chain entry</label>
        <locationX>50</locationX>
        <locationY>1556</locationY>
        <connector>
            <targetReference>Copy_1_of_Set_custodyItemId</targetReference>
        </connector>
        <inputAssignments>
            <field>CustodianId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustodyItemId</field>
            <value>
                <elementReference>create_custody_item_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ItemVerificationType</field>
            <value>
                <stringValue>NoSignature</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceRecordId</field>
            <value>
                <elementReference>Get_Stage.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCategory</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>CustodyChainEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Custody_Chain_Entry_for_Task</name>
        <label>Create Custody Chain Entry for Task</label>
        <locationX>446</locationX>
        <locationY>2828</locationY>
        <inputAssignments>
            <field>CustodianId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustodyItemId</field>
            <value>
                <elementReference>custodyItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ItemVerificationType</field>
            <value>
                <elementReference>Invoke_Decision_Table_for_Custody_Verification_Type_Override.singleOutcome.CustodyVerificationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceRecordId</field>
            <value>
                <elementReference>assessmentTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCategory</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>CustodyChainEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_custody_item_record</name>
        <label>create custody item</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>create_custody_chain_entry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_creating_custody_item</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Enrollee.Name</elementReference>
            </value>
        </inputAssignments>
        <object>CustodyItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custody_Chain_Entry</name>
        <label>Get Custody Chain Entry</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_custody_item_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Stage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustodyChainEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custody_Chain_Entry_for_Step</name>
        <label>Get Custody Chain Entry for Step</label>
        <locationX>446</locationX>
        <locationY>2720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Custody_Chain_Entry_for_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>carePgmEnrolleeWkOrdStepId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustodyChainEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enrollee</name>
        <label>Get Enrollee</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careProgramEnrolleeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Geo_Country</name>
        <label>Get Geo Country</label>
        <locationX>182</locationX>
        <locationY>2096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollee.EnrollmentLocation.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GeoCountry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stage</name>
        <label>Get Stage</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custody_Chain_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CarePgmEnrolleeWorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Step</name>
        <label>Get Step</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_work_order_id_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>carePgmEnrolleeWkOrdStepId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CarePgmEnrolleeWkOrdStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assessmentTaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentTask</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Procedures</name>
        <label>Get Work Procedures</label>
        <locationX>314</locationX>
        <locationY>2396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_Decision_Table_for_Custody_Verification_Type_Override</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollee.CareProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkProcedure</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>314</locationX>
        <locationY>1880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Enrollment_Location_Entered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Stage.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assessmentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>carePgmEnrolleeWkOrdStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>careProgramEnrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>custodyItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>workOrderRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
