force-app/main/default/flows/Confirm_Slots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Adds the current child service appointment in the loop to the UpdatedServiceAppointments record collection.</description>
        <name>AddChildServiceAppointmentToCollection</name>
        <label>Add Child Service Appointment To Collection</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>UpdatedServiceAppointments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateThroughChildServiceAppointments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughChildServiceAppointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a status of Scheduled to the current item in the loop.</description>
        <name>SetChildServiceAppointmentStatus</name>
        <label>Set Child Service Appointment Status</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>IterateThroughChildServiceAppointments.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddChildServiceAppointmentToCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Confirm Slots {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirm Slots</label>
    <loops>
        <description>Repeats an action for each child service appointment in the Service Appointments from GetChildServiceAppointmentRecords record collection.</description>
        <name>IterateThroughChildServiceAppointments</name>
        <label>Iterate Through Child Service Appointments</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>GetChildServiceAppointmentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetChildServiceAppointmentStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateChildServiceAppointments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the service appointment records that are associated with the service appointment group found in GetServiceAppointmentGroupRecord. Stores the result in the Service Appointments from GetChildServiceAppointmentRecords record collection.</description>
        <name>GetChildServiceAppointmentRecords</name>
        <label>Get Child Service Appointment Records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughChildServiceAppointments</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetServiceAppointmentGroupRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the service appointment group record that references the record ID passed into the flow and stores the result in the Service Appointment Group from GetServiceAppointmentGroupRecord record variable.</description>
        <name>GetServiceAppointmentGroupRecord</name>
        <label>Get Service Appointment Group Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetChildServiceAppointmentRecords</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointmentGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_appointment</name>
        <label>Update Service appointment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>GetServiceAppointmentGroupRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates all child service appointment records in the UpdatedServiceAppointments record collection.</description>
        <name>UpdateChildServiceAppointments</name>
        <label>Update Child Service Appointments</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>UpdateServiceAppointmentGroupStatus</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <inputReference>UpdatedServiceAppointments</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the status of the service appointment group record in Service Appointment Group from GetServiceAppointmentGroupRecord to Scheduled.</description>
        <name>UpdateServiceAppointmentGroupStatus</name>
        <label>Update Service Appointment Group Status</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetServiceAppointmentGroupRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointmentGroup</object>
    </recordUpdates>
    <screens>
        <description>$Label.AcceptSlotsFlow.ConfirmationDescription</description>
        <name>DisplayConfirmation</name>
        <label>Display Confirmation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Service_appointment</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approving the request for booking slots changes the status of the associated service appointments to Scheduled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>$Label.AcceptSlotsFlow.DisplayErrorText</description>
        <name>DisplayError</name>
        <label>Display Error</label>
        <locationX>440</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>healthcloud_pm_flows__AcceptSlots</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DisplayConfirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assessmentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carePgmEnrolleeWkOrdStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>careProgramEnrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID passed into the flow, and is used to get the associated service appointment group record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of updated child service appointment records.</description>
        <name>UpdatedServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
