force-app/main/default/flows/Custom_Benefits_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Transform_to_output_variable</name>
        <label>Assign Transform to output variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>homeVisitPatientBenefitDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Benefits</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Custom Benefits Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Benefits Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Custom_Benefits</name>
        <label>Get Custom Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Benefit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Benefits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Benefits</name>
        <label>Transform Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>healthcloudext__HomeVisitPatientBenefitDetails</apexClass>
        <connector>
            <targetReference>Assign_Transform_to_output_variable</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>unitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Custom_Benefits[$EachItem].00Na500001cL6VJ__NotFound</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>benefitId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Custom_Benefits[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>benefitName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Custom_Benefits[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>unitCount</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Custom_Benefits[$EachItem].00Na500001cL6VK__NotFound</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>benefitEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>benefitStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>homeVisitPatientBenefitDetails</name>
        <apexClass>healthcloudext__HomeVisitPatientBenefitDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>memberPlanIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
