force-app/main/default/flows/Expire_Patient_Waitlist_Appointment_Invitations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <description>Determines whether the patient has already confirmed the appointment.</description>
        <name>HasAppointmentConfirmed</name>
        <label>Has Appointment Booked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Appointment_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>AppointmentIsConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceAppointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Expire Patient Waitlist Appointment Invitations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expire Patient Waitlist Appointment Invitations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the service appointment record for which the appointment invitation is created. Stores the result in the Service Appointment from Get Service Appointment record variable.</description>
        <name>GetServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasAppointmentConfirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppointmentInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>WaitlistFlows__ExpireApptInvitation</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>AppointmentInvitation</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Handle_Expired_Invitation</name>
            <connector>
                <targetReference>GetServiceAppointment</targetReference>
            </connector>
            <label>Handle Expired Invitation</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Updated the appointment Status to Canceled.</description>
        <name>Update_Appointment_Status</name>
        <label>Update Appointment Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>WaitlistFlows__UpdateApptStatusFlow</flowName>
        <inputAssignments>
            <name>appointmentInvitationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>appointmentStatus</name>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>GetServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>statusReason</name>
            <value>
                <stringValue>NotResponded</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
