force-app/main/default/flows/Generate_Work_Order_Steps_for_Infusion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Document_Infusion_details</name>
        <label>Document Infusion details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Document Infusion Details</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmeGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Patient_Assessment_and_Preparation</name>
        <label>Patient Assessment and Preparation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>Patient_Infusion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Patient Assessment and Preparation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmgGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Patient_Infusion</name>
        <label>Patient Infusion</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>Document_Infusion_details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Patient Infusion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmcGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Generate Work Order Steps for Infusion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Work Order Steps for Infusion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>healthcloud_ato_flows__Apheresis</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Patient_Assessment_and_Preparation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the ID of the care program enrollee record passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
