force-app/main/default/flows/Generate_and_Print_Labels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Generate and Print Labels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate and Print Labels</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Generate_and_Print_Labels</name>
        <label>Generate and Print Labels</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_COC_Task</targetReference>
        </connector>
        <fields>
            <name>Generate_Labels</name>
            <dataType>Boolean</dataType>
            <fieldText>Generate Labels</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Labels</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Labels</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Paste_Labels</name>
            <dataType>Boolean</dataType>
            <fieldText>Paste Labels</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_and_Print_Labels</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_COC_Task</name>
        <label>Create COC Task</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>COC_Creation_for_Task_Subflow</flowName>
        <inputAssignments>
            <name>assessmentTaskId</name>
            <value>
                <elementReference>assessmentTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>carePgmEnrolleeWkOrdStepId</name>
            <value>
                <elementReference>carePgmEnrolleeWkOrdStepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careProgramEnrolleeId</name>
            <value>
                <elementReference>careProgramEnrolleeId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>assessmentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carePgmEnrolleeWkOrdStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>careProgramEnrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
