force-app/main/default/flows/Generate_Work_Order_Steps_for_Apheresis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApheresisProcedure</name>
        <label>Apheresis Procedure</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>CellprocessingandLabelling</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Apheresis Procedure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmZGAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CellprocessingandLabelling</name>
        <label>Cell processing and Labelling</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>Handover_the_Collected_Sample</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Cell processing and Labelling</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmWGAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to create the first work order step (Patient Identity Verification) for the care program enrollee passed into the flow, using the action plan template passed into the flow.</description>
        <name>Confirm_Patient_Details_and_Preparation</name>
        <label>Confirm Patient Details and Preparation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>ApheresisProcedure</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Confirm Patient Details and Preparation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmXGAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Handover_the_Collected_Sample</name>
        <label>Handover the Collected Sample</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Handover Collection to the Lab Technician</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmbGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Generate Work Order Steps for Apheresis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Work Order Steps for Apheresis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>healthcloud_ato_flows__Apheresis</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Patient_Details_and_Preparation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the ID of the care program enrollee record passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
