force-app/main/default/flows/Generate_Work_Order_Steps_for_Manufacturing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cell_Manufacturing_Quality_control</name>
        <label>Cell Manufacturing Quality control</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>Compliance_and_Documentation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Cell Manufacturing Quality control</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmfGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Cell_product_handling_and_processing</name>
        <label>Cell product handling and processing</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>Cell_Manufacturing_Quality_control</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Cell Product handling and processing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmdGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Compliance_and_Documentation</name>
        <label>Compliance and Documentation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <connector>
            <targetReference>Inform_the_Facility</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Compliance and Documentation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmYGAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Inform_the_Facility</name>
        <label>Inform the Facility</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>createCareProgramEnrolleeWorkOrderStep</actionName>
        <actionType>createCareProgramEnrolleeWorkOrderStep</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrderStepLabel</name>
            <value>
                <stringValue>Inform the Facility</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careProgramEnrolleeID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionPlanTemplateId</name>
            <value>
                <stringValue>0PRa5000000JPmaGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderStepSequenceNumber</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>createCareProgramEnrolleeWorkOrderStep</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Generate Work Order Steps for Manufacturing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Work Order Steps for Manufacturing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>healthcloud_ato_flows__Apheresis</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cell_product_handling_and_processing</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the ID of the care program enrollee record passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
