force-app/main/default/flows/HomeHealth_Add_Patient_Medication_for_Home_Visits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Sets the saveMedicationDisplayMessage variable to an error message that’s displayed to the user when the flow couldn’t get the patient details.</description>
        <name>SetGetPatientErrorMessage</name>
        <label>Set Get Patient Error Message</label>
        <locationX>1788</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>saveMedicationDisplayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$Label.MedicineAdministrationScreenFlow.validationErrorPatientDtls</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayMedicationSaveMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the SaveMedicationDisplayMessage variable to an error message that’s displayed to the user when the medication details couldn’t be saved.</description>
        <name>SetMedicationSaveErrorMessage</name>
        <label>Set Medication Save Error Message</label>
        <locationX>996</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>saveMedicationDisplayMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayMedicationSaveMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the SaveMedicationDisplayMessage variable to an error message that’s displayed to the user when additional instruction on the medication is missing.</description>
        <name>SetMissingAdditionalInstructionErrorMessage</name>
        <label>Set Missing Additional Instruction Error Message</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>saveMedicationDisplayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$Label.MedicineAdministrationScreenFlow.validationError</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayMedicationSaveMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the SaveMedicationDisplayMessage variable to an error message that’s displayed to the user when the input details for saving a dosage details aren’t available.</description>
        <name>SetMissingDosageDetailsErrorMessage</name>
        <label>Set Missing Dosage Details Error Message</label>
        <locationX>1260</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>saveMedicationDisplayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$Label.MedicineAdministrationScreenFlow.validationError</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayMedicationSaveMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the SaveMedicationDisplayMessage variable to an error message that’s displayed to the user when the input details for saving a medication aren’t available.</description>
        <name>SetMissingInputDetailsErrorMessage</name>
        <label>Set Missing Input Details Error Message</label>
        <locationX>1524</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>saveMedicationDisplayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$Label.MedicineAdministrationScreenFlow.validationError</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayMedicationSaveMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the MedicationStatementStatus variable to Review Pending when the medication details are missing and the additional instruction is provided.</description>
        <name>SetReviewPendingStatus</name>
        <label>Set Review Pending Status</label>
        <locationX>204</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>medicationStatementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewPending</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMedicationStatement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the SaveMedicationDisplayMessage variable to an error message that’s displayed to the user when the flow couldn’t get the work order ID.</description>
        <name>SetWorkOrderIdErrorMessage</name>
        <label>Set Work Order ID Error Message</label>
        <locationX>2052</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>saveMedicationDisplayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$Label.MedicineAdministrationScreenFlow.validationErrorWorkOrder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayMedicationSaveMessage</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the name of the review pending status of a medication statement.</description>
        <name>ReviewPending</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Review Pending</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether all the dosage details such as dosage quantity type, dosage quantity numerator, dosage quantity denominator are provided to the flow and are valid.</description>
        <name>AreDosageDetailsValid</name>
        <label>Are Dosage Details Valid</label>
        <locationX>721</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SetMissingDosageDetailsErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DosageDetailsValid</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR (6 AND 7 AND  8 )) AND (9 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>DosageQuantityNumerator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DosageQuantityNumerator</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DosageQuantityDenominator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DosageQuantityDenominator</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dosageQuantityType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>$Label.PMDDosageAmountType.doseRange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DosageQuantityNumerator</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DosageQuantityDenominator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DosageQuantityNumerator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DosageQuantityDenominator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dosageQuantityType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsMedicationProvided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the medication details are saved.</description>
        <name>AreMedicationDetailsSaved</name>
        <label>Are Medication Details Saved</label>
        <locationX>182</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>DisplayMedicationSaveMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MedicationDetailsSaved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>medicationStatementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayMedicationSaveSuccessMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether all the required input details for saving a medication are available.</description>
        <name>AreRequiredInputDetailsAvailable</name>
        <label>Are Required Input Details Available</label>
        <locationX>1122</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SetMissingInputDetailsErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RequiredInputDetailsAvailable</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>patientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>StartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreDosageDetailsValid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether additional instruction for saving the medication is provided by the user.</description>
        <name>IsAdditionalInstructionProvided</name>
        <label>Is Additional Instruction Provided</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>SetMissingAdditionalInstructionErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AdditionalInstructionProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalInstruction</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalInstruction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReviewPendingStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a valid medication is provided by the flow user in SearchMedication.</description>
        <name>IsMedicationProvided</name>
        <label>Is Medication Provided?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>IsAdditionalInstructionProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MedicationProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medication</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Medication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateMedicationStatement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Dosage type pick list values ex: Quantity, Range</description>
        <name>dosageQuantityTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DosageQuantityType</picklistField>
        <picklistObject>PatientMedicationDosage</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Medication Lookup</description>
        <name>MedicationLookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MedicationSearchText</elementReference>
            </value>
        </filters>
        <object>Medication</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Patient Medication for Home Visits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HomeHealth: Add Patient Medication for Home Visits</label>
    <overriddenFlow>homehealth_flows__AddPtntMedHomeVst</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Creates a medication statement record for the patient and saves the medication details.</description>
        <name>CreateMedicationStatement</name>
        <label>Create Medication Statement</label>
        <locationX>182</locationX>
        <locationY>1340</locationY>
        <assignRecordIdToReference>medicationStatementId</assignRecordIdToReference>
        <connector>
            <targetReference>CreatePatientMedicationDosage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetMedicationSaveErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicationId</field>
            <value>
                <elementReference>Medication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientId</field>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>medicationStatementStatus</elementReference>
            </value>
        </inputAssignments>
        <object>MedicationStatement</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a patient medication dosage record for the patient and saves the medication dosage details.</description>
        <name>CreatePatientMedicationDosage</name>
        <label>Create Patient Medication Dosage</label>
        <locationX>182</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>AreMedicationDetailsSaved</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetMedicationSaveErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AdditionalInstruction</field>
            <value>
                <elementReference>AdditionalInstruction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DosageQuantityDenominator</field>
            <value>
                <elementReference>DosageQuantityDenominator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DosageQuantityNumerator</field>
            <value>
                <elementReference>DosageQuantityNumerator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DosageQuantityType</field>
            <value>
                <elementReference>dosageQuantityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>medicationStatementId</elementReference>
            </value>
        </inputAssignments>
        <object>PatientMedicationDosage</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the patient record associated with the work order ID that matches WorkOrderId.</description>
        <name>GetPatient</name>
        <label>Get Patient</label>
        <locationX>1122</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenSearchMedication</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetGetPatientErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>patientId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the work order record associated with the work order step ID that’s passed into the flow. Stores the ID of the result in the WorkOrderId variable.</description>
        <name>GetWorkOrder</name>
        <label>Get Work Order</label>
        <locationX>1122</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPatient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetWorkOrderIdErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>workOrderId</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Displays a message indicating the medications details are not saved.</description>
        <name>DisplayMedicationSaveMessage</name>
        <label>Display Medication Save Message</label>
        <locationX>1122</locationX>
        <locationY>2132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>statusMessage</name>
            <fieldText>We couldn&apos;t save the medication record. Review the instructions and try again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a message indicating the medications details are saved.</description>
        <name>DisplayMedicationSaveSuccessMessage</name>
        <label>Display Medication Save Success Message</label>
        <locationX>50</locationX>
        <locationY>1664</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MedicationSuccessMessage</name>
            <fieldText>Medication Statement and Patient Medication Dosage were created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows a flow user to specify the medication details such as dosage, start and end date, and additional instructions.</description>
        <name>ScreenCollectMedicationDetails</name>
        <label>Collect Medication Details</label>
        <locationX>1122</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AreRequiredInputDetailsAvailable</targetReference>
        </connector>
        <fields>
            <name>Medication</name>
            <choiceReferences>MedicationLookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Medication</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MedicationMessageDisplayText</name>
            <fieldText>*Specify additional instruction when a medication isn&apos;t selected.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dosageQuantityType</name>
            <choiceReferences>dosageQuantityTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dosage Quantity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DosageTypeMessageDisplayText</name>
            <fieldText>*Enter a non-negative dosage quantity.
*Enter a dosage quantity denominator that&apos;s greater than the dosage quantity numerator.
*Enter the dosage quantity numerator when a dosage type is selected.
*Enter the dosage denominator when the Dose Range dosage type is selected.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DosageQuantityNumerator</name>
            <dataType>Number</dataType>
            <fieldText>Dosage Quantity Numerator</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Something&apos;s wrong. Review the instructions for dosage type.</errorMessage>
                <formulaExpression>{!DosageQuantityNumerator} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DosageQuantityDenominator</name>
            <dataType>Number</dataType>
            <fieldText>Dosage Quantity Denominator</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Something&apos;s wrong. Review the instructions for dosage type.</errorMessage>
                <formulaExpression>{!DosageQuantityDenominator} &gt; 0 &amp;&amp; {!DosageQuantityDenominator} &gt; {!DosageQuantityNumerator}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>*Select a start date that&apos;s on or before today&apos;s date</errorMessage>
                <formulaExpression>{!StartDate} &lt;= NOW()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>StartDateMessageDisplayText</name>
            <fieldText>*Select a start date that&apos;s on or before the end date and today&apos;s date.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndDate</name>
            <dataType>DateTime</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>*Select a start date that&apos;s before the end date</errorMessage>
                <formulaExpression>{!EndDate} &gt; {!StartDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AdditionalInstruction</name>
            <fieldText>Additional Instruction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows a flow user to search for medication.</description>
        <name>ScreenSearchMedication</name>
        <label>Search Medication</label>
        <locationX>1122</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenCollectMedicationDetails</targetReference>
        </connector>
        <fields>
            <name>MedicationSearchText</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Medication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>996</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID of the work order step passed into the flow.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the medication statement added to the patient.</description>
        <name>medicationStatementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the medication statement status value provided by the user when adding a medication.</description>
        <name>medicationStatementStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the patient to whom the medication is added.</description>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the error message that’s displayed to the user. The message indicates the status of adding and saving medication.</description>
        <name>saveMedicationDisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>$Label.MedicineAdministrationScreenFlow.systemError</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the work order record related to the work order step record passed into the flow.</description>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
