force-app/main/default/flows/HypertensionMeasureFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hypertension_Measure_Evaluation</name>
        <label>Hypertension Measure Evaluation</label>
        <locationX>50</locationX>
        <locationY>4646</locationY>
        <actionName>Hypertension_Measure_Evaluation</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Set_Evaluation_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>diastolicBloodPressure</name>
            <value>
                <elementReference>VarN_Diastolic</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systolicBloodPressure</name>
            <value>
                <elementReference>VarN_Systolic</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hypertension_Measure_Evaluation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Hypertension_Measure_Evaluation_Denominator</name>
        <label>Hypertension Measure Evaluation Denominator</label>
        <locationX>182</locationX>
        <locationY>4430</locationY>
        <actionName>Hypertension_Measure_Evaluation_Denominator</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Is_Care_Gap_Excluded</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>hasHypertension</name>
            <value>
                <elementReference>HasHigh_Blood_Pressure</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onMedication</name>
            <value>
                <elementReference>Using_Dementia_Medication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>birthdate</name>
            <value>
                <elementReference>VarD_BirthDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isPregnant</name>
            <value>
                <elementReference>Is_Pregnant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hasRenalDisease</name>
            <value>
                <elementReference>Has_ESRD</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hypertension_Measure_Evaluation_Denominator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Care_Gap_Status</name>
        <label>Update Care Gap Status</label>
        <locationX>611</locationX>
        <locationY>5222</locationY>
        <actionName>updateCareGapStatus</actionName>
        <actionType>updateCareGapStatus</actionType>
        <connector>
            <targetReference>Age_Stratifier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>careGapId</name>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>VarT_ComputedCareGapStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateCareGapStatus</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>As patient record is not populated with required data assigning Measure Evaluation Status as Open</description>
        <name>No_Data</name>
        <label>No Data</label>
        <locationX>842</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>VarT_ComputedCareGapStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPEN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Gap_Measure_Evaluation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_18_to_30</name>
        <label>Set Age 18 to 30</label>
        <locationX>1029</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>varAGE_BETWEEN_18_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Clinical_Measure_Criterias.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Clinical_Measure_Criterias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_31_to_60</name>
        <label>Set Age 31 to 60</label>
        <locationX>1293</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>varAGE_BETWEEN_31_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Clinical_Measure_Criterias.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Clinical_Measure_Criterias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_Above_60</name>
        <label>Set Age Above 60</label>
        <locationX>1557</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCS_AGE_ABOVE_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_above_60_years</name>
        <label>Set Age above 60 years</label>
        <locationX>1557</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>varAGE_ABOVE_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Clinical_Measure_Criterias.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Clinical_Measure_Criterias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_Between_18_and_31</name>
        <label>Set Age Between 18 and 31</label>
        <locationX>1821</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCS_AGE_BETWEEN_18_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_Between_31_and_60</name>
        <label>Set Age Between 31 and 60</label>
        <locationX>2085</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCS_AGE_BETWEEN_31_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dementia_Medication</name>
        <label>Set Dementia Medication</label>
        <locationX>1029</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varDEMENTIA_MEDICATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Diastolic_Blood_Pressure</name>
        <label>Set Diastolic Blood Pressure</label>
        <locationX>1293</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varDIASTOLIC_BLOOD_PRESSURE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ESRD</name>
        <label>Set ESRD</label>
        <locationX>1293</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varESRD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ESRD_as_false</name>
        <label>Set ESRD as false</label>
        <locationX>314</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasESRD</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Dementia_Medication_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ESRD_as_true</name>
        <label>Set ESRD as true</label>
        <locationX>50</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasESRD</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Dementia_Medication_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Evaluation_Status</name>
        <label>Set Evaluation Status</label>
        <locationX>50</locationX>
        <locationY>4754</locationY>
        <assignmentItems>
            <assignToReference>VarT_ComputedCareGapStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hypertension_Measure_Evaluation.CareGapStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Gap_Measure_Evaluation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Evaluation_Status_as_Excluded</name>
        <label>Set Evaluation Status as Excluded</label>
        <locationX>314</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>VarT_ComputedCareGapStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EXCLUDED</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Gap_Measure_Evaluation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_has_Hypertension_as_False</name>
        <label>Set has Hypertension as False</label>
        <locationX>512</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasHighBloodPressure</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Systolic_Care_Observations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_has_Hypertension_as_True</name>
        <label>Set has Hypertension as True</label>
        <locationX>248</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasHighBloodPressure</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Systolic_Care_Observations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_High_Blood_Pressure</name>
        <label>Set High Blood Pressure</label>
        <locationX>1557</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varHIGH_BLOOD_PRESSURE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_on_Medication_as_false</name>
        <label>Set on Medication as false</label>
        <locationX>314</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsOnMedication</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hypertension_Measure_Evaluation_Denominator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_on_Medication_as_true</name>
        <label>Set on Medication as true</label>
        <locationX>50</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsOnMedication</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hypertension_Measure_Evaluation_Denominator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pregnancy</name>
        <label>Set Pregnancy</label>
        <locationX>1821</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varPREGNANCY</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pregnancy_as_false</name>
        <label>Set Pregnancy as false</label>
        <locationX>314</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsPregnant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ESRD_Health_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pregnancy_as_true</name>
        <label>Set Pregnancy as true</label>
        <locationX>50</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsPregnant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ESRD_Health_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stratifier_records_above_60</name>
        <label>Set stratifier records above 60</label>
        <locationX>1007</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>VarB_18_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_31_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_61</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Criteria_result_for_age_18_to_30</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stratifier_records_for_18</name>
        <label>Set stratifier records for &lt;18</label>
        <locationX>215</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>VarB_18_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_31_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_61</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Criteria_result_for_age_18_to_30</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stratifier_records_for_18_30</name>
        <label>Set stratifier records for 18-30</label>
        <locationX>479</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>VarB_18_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_31_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_61</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Criteria_result_for_age_18_to_30</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stratifier_records_for_31_60</name>
        <label>Set stratifier records for 31-60</label>
        <locationX>743</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>VarB_18_30</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_31_60</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarB_61</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Criteria_result_for_age_18_to_30</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Systolic_blood_Pressure</name>
        <label>Set Systolic blood Pressure</label>
        <locationX>1029</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varSYSTOLIC_BLOOD_PRESSURE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AGE_ABOVE_60</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Age above 60</stringValue>
        </value>
    </constants>
    <constants>
        <name>AGE_BETWEEN_18_30</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Age between 18-30</stringValue>
        </value>
    </constants>
    <constants>
        <name>AGE_BETWEEN_31_60</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Age between 31-60</stringValue>
        </value>
    </constants>
    <constants>
        <name>DEMENTIA_MEDICATION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dementia Medication</stringValue>
        </value>
    </constants>
    <constants>
        <name>DIASTOLIC_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Diastolic Blood Pressure</stringValue>
        </value>
    </constants>
    <constants>
        <name>ESRD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>End Stage Renal Disease</stringValue>
        </value>
    </constants>
    <constants>
        <name>EVALUATION_IN_PROGRESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EvaluationInProgress</stringValue>
        </value>
    </constants>
    <constants>
        <name>EXCLUDED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Excluded</stringValue>
        </value>
    </constants>
    <constants>
        <name>HIGH_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hypertension</stringValue>
        </value>
    </constants>
    <constants>
        <name>OPEN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </constants>
    <constants>
        <name>PREGNANCY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pregnancy</stringValue>
        </value>
    </constants>
    <constants>
        <name>SYSTOLIC_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Systolic Blood Pressure</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Age_Stratifier</name>
        <label>Age Stratifier</label>
        <locationX>611</locationX>
        <locationY>5330</locationY>
        <defaultConnector>
            <targetReference>Set_stratifier_records_above_60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Age above 60</defaultConnectorLabel>
        <rules>
            <name>Age_below_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hypertension_Measure_Evaluation_Denominator.patientAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stratifier_records_for_18</targetReference>
            </connector>
            <label>Age below 18</label>
        </rules>
        <rules>
            <name>Age_between_18_and_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hypertension_Measure_Evaluation_Denominator.patientAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hypertension_Measure_Evaluation_Denominator.patientAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stratifier_records_for_18_30</targetReference>
            </connector>
            <label>Age between 18 and 30</label>
        </rules>
        <rules>
            <name>Age_between_31_and_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hypertension_Measure_Evaluation_Denominator.patientAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>31.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hypertension_Measure_Evaluation_Denominator.patientAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stratifier_records_for_31_60</targetReference>
            </connector>
            <label>Age between 31 and 60</label>
        </rules>
    </decisions>
    <decisions>
        <name>Care_Gap_Measure_Evaluation_Status</name>
        <label>Care Gap Measure Evaluation Status</label>
        <locationX>941</locationX>
        <locationY>2150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evaluation_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_MeasureEvaluationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EVALUATION_IN_PROGRESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Birth_Date</targetReference>
            </connector>
            <label>Evaluation In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clinical_Measure_Criteria_Evaluation</name>
        <label>Clinical Measure Criteria Evaluation</label>
        <locationX>1425</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Loop_Clinical_Measure_Criterias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Age_18_to_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Clinical_Measure_Criterias.CriteriaCodeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCS_AGE_BETWEEN_18_30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_18_to_30</targetReference>
            </connector>
            <label>Age 18 to 30</label>
        </rules>
        <rules>
            <name>Age_31_to_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Clinical_Measure_Criterias.CriteriaCodeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCS_AGE_BETWEEN_31_60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_31_to_60</targetReference>
            </connector>
            <label>Age 31 to 60</label>
        </rules>
        <rules>
            <name>CMC_Age_Above_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Clinical_Measure_Criterias.CriteriaCodeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCS_AGE_ABOVE_60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_above_60_years</targetReference>
            </connector>
            <label>Age Above 60</label>
        </rules>
    </decisions>
    <decisions>
        <name>Code_Set_Bundle_Records_Evaluation</name>
        <label>Code Set Bundle Records Evaluation</label>
        <locationX>1557</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSB_Dementia_Medication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DEMENTIA_MEDICATION</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dementia_Medication</targetReference>
            </connector>
            <label>Dementia Medication</label>
        </rules>
        <rules>
            <name>CSB_ESRD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ESRD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ESRD</targetReference>
            </connector>
            <label>ESRD</label>
        </rules>
        <rules>
            <name>CSB_HIGH_BLOOD_PRESSURE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HIGH_BLOOD_PRESSURE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Blood_Pressure</targetReference>
            </connector>
            <label>HIGH_BLOOD_PRESSURE</label>
        </rules>
        <rules>
            <name>CSB_PREGNANCY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PREGNANCY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pregnancy</targetReference>
            </connector>
            <label>PREGNANCY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Code_Set_Record_Evaluation</name>
        <label>Code Set Record Evaluation</label>
        <locationX>1689</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Systolic_Blood_Pressure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SYSTOLIC_BLOOD_PRESSURE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Systolic_blood_Pressure</targetReference>
            </connector>
            <label>Has Systolic Blood Pressure</label>
        </rules>
        <rules>
            <name>Has_Diastolic_Blood_Pressure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DIASTOLIC_BLOOD_PRESSURE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Diastolic_Blood_Pressure</targetReference>
            </connector>
            <label>Has Diastolic Blood Pressure</label>
        </rules>
        <rules>
            <name>Is_Age_Above_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AGE_ABOVE_60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_Above_60</targetReference>
            </connector>
            <label>Is Age Above 60</label>
        </rules>
        <rules>
            <name>Is_Age_Between_18_and_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AGE_BETWEEN_18_30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_Between_18_and_31</targetReference>
            </connector>
            <label>Is Age Between 18 and 30</label>
        </rules>
        <rules>
            <name>Is_Age_Between_31_and_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AGE_BETWEEN_31_60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_Between_31_and_60</targetReference>
            </connector>
            <label>Is Age Between 31 and 60</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOB_Validation</name>
        <label>DOB Validation</label>
        <locationX>611</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>No_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DOB</defaultConnectorLabel>
        <rules>
            <name>Has_DOB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarD_BirthDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hypertension_Health_Condition_Details</targetReference>
            </connector>
            <label>Has DOB</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set whether the patient has high blood pressure or not</description>
        <name>Has_High_Blood_Pressure</name>
        <label>Has High Blood Pressure</label>
        <locationX>380</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Set_has_Hypertension_as_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No High Blood Pressure</defaultConnectorLabel>
        <rules>
            <name>HasHigh_Blood_Pressure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_Hypertension_HealthConditionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_has_Hypertension_as_True</targetReference>
            </connector>
            <label>Has High Blood Pressure</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates provided input</description>
        <name>Input_Validation</name>
        <label>Input Validation</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CareGapId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Code_Set_Records</targetReference>
            </connector>
            <label>Valid Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Care_Gap_Excluded</name>
        <label>Is Care Gap Excluded</label>
        <locationX>182</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>Set_Evaluation_Status_as_Excluded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Care Gap Excluded</defaultConnectorLabel>
        <rules>
            <name>Care_Gap_Not_Excluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hypertension_Measure_Evaluation_Denominator.CareGapStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EXCLUDED</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hypertension_Measure_Evaluation</targetReference>
            </connector>
            <label>Care Gap Not Excluded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_On_Dementia_Medication</name>
        <label>Is On Dementia Medication</label>
        <locationX>182</locationX>
        <locationY>4130</locationY>
        <defaultConnector>
            <targetReference>Set_on_Medication_as_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Using Dementia Medication</defaultConnectorLabel>
        <rules>
            <name>Using_Dementia_Medication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_Dementia_MedicationStatementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_on_Medication_as_true</targetReference>
            </connector>
            <label>Using Dementia Medication</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ESRD</name>
        <label>Validate ESRD</label>
        <locationX>182</locationX>
        <locationY>3722</locationY>
        <defaultConnector>
            <targetReference>Set_ESRD_as_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not HSRD</defaultConnectorLabel>
        <rules>
            <name>Has_ESRD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_ESRD_HealthConditionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ESRD_as_true</targetReference>
            </connector>
            <label>Has ESRD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Pregnancy</name>
        <label>Validate Pregnancy</label>
        <locationX>182</locationX>
        <locationY>3314</locationY>
        <defaultConnector>
            <targetReference>Set_Pregnancy_as_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Pregnant</defaultConnectorLabel>
        <rules>
            <name>Is_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_Pregnant_HelathConditionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pregnancy_as_true</targetReference>
            </connector>
            <label>Is Pregnant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Systolic_and_Diastolic</name>
        <label>Validate Systolic and Diastolic</label>
        <locationX>380</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Systolic or Diastolic</defaultConnectorLabel>
        <rules>
            <name>Has_Systolic_and_Diastolic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarN_Systolic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarN_Diastolic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pregnancy_Health_Condition</targetReference>
            </connector>
            <label>Has Systolic and Diastolic</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HypertensionMeasureFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HypertensionMeasureFlow</label>
    <loops>
        <name>Loop_Clinical_Measure_Criterias</name>
        <label>Loop Clinical Measure Criterias</label>
        <locationX>941</locationX>
        <locationY>1550</locationY>
        <collectionReference>AllClinicalMeasureCriterias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clinical_Measure_Criteria_Evaluation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Care_Gap_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Code_Set_Bundle_Records</name>
        <label>Loop Code Set Bundle Records</label>
        <locationX>941</locationX>
        <locationY>950</locationY>
        <collectionReference>AllCodeSetBundleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Code_Set_Bundle_Records_Evaluation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Clinical_Measure_Criteria_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Code_Set_Records</name>
        <label>Loop Code Set Records</label>
        <locationX>941</locationX>
        <locationY>350</locationY>
        <collectionReference>AllCodeSetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Code_Set_Record_Evaluation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Code_Set_Bundle_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Criteria_result_for_age_18_to_30</name>
        <label>Create Criteria result for age 18 to 30</label>
        <locationX>611</locationX>
        <locationY>5630</locationY>
        <connector>
            <targetReference>Create_Criteria_result_for_age_31_to_60</targetReference>
        </connector>
        <inputAssignments>
            <field>CareGapId</field>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClinicalMeasureCriteriaId</field>
            <value>
                <elementReference>varAGE_BETWEEN_18_30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluatedCriteriaResult</field>
            <value>
                <elementReference>VarB_18_30</elementReference>
            </value>
        </inputAssignments>
        <object>CareGapCriteriaResult</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Criteria_result_for_age_31_to_60</name>
        <label>Create Criteria result for age 31 to 60</label>
        <locationX>611</locationX>
        <locationY>5738</locationY>
        <connector>
            <targetReference>Create_Criteria_result_for_age_above_60</targetReference>
        </connector>
        <inputAssignments>
            <field>CareGapId</field>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClinicalMeasureCriteriaId</field>
            <value>
                <elementReference>varAGE_BETWEEN_31_60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluatedCriteriaResult</field>
            <value>
                <elementReference>VarB_31_60</elementReference>
            </value>
        </inputAssignments>
        <object>CareGapCriteriaResult</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Criteria_result_for_age_above_60</name>
        <label>Create Criteria result for age above 60</label>
        <locationX>611</locationX>
        <locationY>5846</locationY>
        <inputAssignments>
            <field>CareGapId</field>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClinicalMeasureCriteriaId</field>
            <value>
                <elementReference>varAGE_ABOVE_60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluatedCriteriaResult</field>
            <value>
                <elementReference>VarB_61</elementReference>
            </value>
        </inputAssignments>
        <object>CareGapCriteriaResult</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Care_Gap_Details</name>
        <label>Get Care Gap Details</label>
        <locationX>941</locationX>
        <locationY>2042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Gap_Measure_Evaluation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </filters>
        <object>CareGap</object>
        <outputAssignments>
            <assignToReference>VarT_PatientId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarT_MeasureEvaluationStatus</assignToReference>
            <field>MeasureEvaluationStatus</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarD_ReportingEndDate</assignToReference>
            <field>ReportingPeriodEndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarD_ReportingStartDate</assignToReference>
            <field>ReportingPeriodStartDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinical_Measure_Criteria_Records</name>
        <label>Get Clinical Measure Criteria Records</label>
        <locationX>941</locationX>
        <locationY>1442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Clinical_Measure_Criterias</targetReference>
        </connector>
        <object>ClinicalMeasureCriteria</object>
        <outputReference>AllClinicalMeasureCriterias</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CriteriaCodeId</queriedFields>
        <queriedFields>ReferenceRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Code_Set_Bundle_Records</name>
        <label>Get Code Set Bundle Records</label>
        <locationX>941</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
        <object>CodeSetBundle</object>
        <outputReference>AllCodeSetBundleRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Code_Set_Records</name>
        <label>Get Code Set Records</label>
        <locationX>941</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
        <object>CodeSet</object>
        <outputReference>AllCodeSetRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Dementia_Medication_Statement</name>
        <label>Get Dementia Medication Statement</label>
        <locationX>182</locationX>
        <locationY>4022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_On_Dementia_Medication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MedicationCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDEMENTIA_MEDICATION</elementReference>
            </value>
        </filters>
        <object>MedicationStatement</object>
        <outputAssignments>
            <assignToReference>VarT_Dementia_MedicationStatementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get care observation for the patient related to high blood pressure</description>
        <name>Get_Diastolic_Care_Observations</name>
        <label>Get Diastolic Care Observations</label>
        <locationX>380</locationX>
        <locationY>2990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Systolic_and_Diastolic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObservedSubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDIASTOLIC_BLOOD_PRESSURE</elementReference>
            </value>
        </filters>
        <object>CareObservation</object>
        <outputAssignments>
            <assignToReference>VarN_Diastolic</assignToReference>
            <field>NumericValue</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ESRD_Health_Condition</name>
        <label>Get ESRD Health Condition</label>
        <locationX>182</locationX>
        <locationY>3614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_ESRD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConditionCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varESRD</elementReference>
            </value>
        </filters>
        <object>HealthCondition</object>
        <outputAssignments>
            <assignToReference>VarT_ESRD_HealthConditionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Fetch Patient Health Condition Details</description>
        <name>Get_Hypertension_Health_Condition_Details</name>
        <label>Get Hypertension Health Condition Details</label>
        <locationX>380</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_High_Blood_Pressure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConditionCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHIGH_BLOOD_PRESSURE</elementReference>
            </value>
        </filters>
        <object>HealthCondition</object>
        <outputAssignments>
            <assignToReference>VarT_Hypertension_HealthConditionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Birth_Date</name>
        <label>Get Patient Birth Date</label>
        <locationX>611</locationX>
        <locationY>2258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DOB_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarD_BirthDate</assignToReference>
            <field>PersonBirthdate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pregnancy_Health_Condition</name>
        <label>Get Pregnancy Health Condition</label>
        <locationX>182</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Pregnancy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConditionCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPREGNANCY</elementReference>
            </value>
        </filters>
        <object>HealthCondition</object>
        <outputAssignments>
            <assignToReference>VarT_Pregnant_HelathConditionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get care observation data for the patient related to high blood pressure</description>
        <name>Get_Systolic_Care_Observations</name>
        <label>Get Systolic Care Observations</label>
        <locationX>380</locationX>
        <locationY>2882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Diastolic_Care_Observations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObservedSubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSYSTOLIC_BLOOD_PRESSURE</elementReference>
            </value>
        </filters>
        <object>CareObservation</object>
        <outputAssignments>
            <assignToReference>VarN_Systolic</assignToReference>
            <field>NumericValue</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Updates the measure evaluation status with computed measure evaluation status</description>
        <name>Update_Care_Gap_Measure_Evaluation_Status</name>
        <label>Update Care Gap Measure Evaluation Status</label>
        <locationX>611</locationX>
        <locationY>5114</locationY>
        <connector>
            <targetReference>Update_Care_Gap_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MeasureEvaluationStatus</field>
            <value>
                <stringValue>EvaluationComplete</stringValue>
            </value>
        </inputAssignments>
        <object>CareGap</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Validation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllClinicalMeasureCriterias</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClinicalMeasureCriteria</objectType>
    </variables>
    <variables>
        <name>AllCodeSetBundleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CodeSetBundle</objectType>
    </variables>
    <variables>
        <name>AllCodeSetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CodeSet</objectType>
    </variables>
    <variables>
        <name>CareGapId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAGE_ABOVE_60</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAGE_BETWEEN_18_30</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAGE_BETWEEN_31_60</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_18_30</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarB_31_60</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarB_61</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarB_HasESRD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_HasHighBloodPressure</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_IsOnMedication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_IsPregnant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCS_AGE_ABOVE_60</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCS_AGE_BETWEEN_18_30</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCS_AGE_BETWEEN_31_60</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarD_BirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarD_ReportingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarD_ReportingStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDEMENTIA_MEDICATION</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDIASTOLIC_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varESRD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHIGH_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarN_Diastolic</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarN_Systolic</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPREGNANCY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSYSTOLIC_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the computed Status field of Care Gap</description>
        <name>VarT_ComputedCareGapStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Dementia_MedicationStatementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_ESRD_HealthConditionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Hypertension_HealthConditionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_MeasureEvaluationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Pregnant_HelathConditionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
