force-app/main/default/flows/HypertensionMeasureEvaluationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Care_Gap_Status</name>
        <label>Update Care Gap Status</label>
        <locationX>611</locationX>
        <locationY>3998</locationY>
        <actionName>updateCareGapStatus</actionName>
        <actionType>updateCareGapStatus</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>careGapId</name>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>VarT_ComputedCareGapStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateCareGapStatus</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>As patient record is not populated with required data assigning Measure Evaluation Status as Open</description>
        <name>No_Data</name>
        <label>No Data</label>
        <locationX>842</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>VarT_ComputedCareGapStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPEN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Gap_Measure_Evaluation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dementia_Medication</name>
        <label>Set Dementia Medication</label>
        <locationX>699</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varDEMENTIA_MEDICATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Diastolic_Blood_Pressure_Code_Set_Id</name>
        <label>Set Diastolic Blood Pressure Code Set Id</label>
        <locationX>963</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varDiastolic_Blood_Pressure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ESRD_as_false</name>
        <label>Set ESRD as false</label>
        <locationX>314</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasESRD</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Dementia_Medication_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ESRD_as_true</name>
        <label>Set ESRD as true</label>
        <locationX>50</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasESRD</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Dementia_Medication_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ESRD_Variable</name>
        <label>Set ESRD Variable</label>
        <locationX>963</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varESRD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_has_Hypertension_as_False</name>
        <label>Set has Hypertension as False</label>
        <locationX>512</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasHighBloodPressure</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Systolic_Care_Observations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_has_Hypertension_as_True</name>
        <label>Set has Hypertension as True</label>
        <locationX>248</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>VarB_HasHighBloodPressure</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Systolic_Care_Observations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_High_Blood_Pressure</name>
        <label>Set High Blood Pressure</label>
        <locationX>1227</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varHIGH_BLOOD_PRESSURE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_on_Medication_as_false</name>
        <label>Set on Medication as false</label>
        <locationX>314</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsOnMedication</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Gap_Measure_Evaluation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_on_Medication_as_true</name>
        <label>Set on Medication as true</label>
        <locationX>50</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsOnMedication</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Gap_Measure_Evaluation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pregnancy</name>
        <label>Set Pregnancy</label>
        <locationX>1491</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varPREGNANCY</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Bundle_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pregnancy_as_false</name>
        <label>Set Pregnancy as false</label>
        <locationX>314</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsPregnant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ESRD_Health_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pregnancy_as_true</name>
        <label>Set Pregnancy as true</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>VarB_IsPregnant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ESRD_Health_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Systolic_Code_Set_Record_Id</name>
        <label>Set Systolic Code Set Record Id</label>
        <locationX>699</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varSystolic_Blood_Pressure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Code_Set_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DEMENTIA_MEDICATION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dementia Medication</stringValue>
        </value>
    </constants>
    <constants>
        <name>DIASTOLIC_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Diastolic Blood Pressure</stringValue>
        </value>
    </constants>
    <constants>
        <name>ESRD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>End Stage Renal Disease</stringValue>
        </value>
    </constants>
    <constants>
        <name>HIGH_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hypertension</stringValue>
        </value>
    </constants>
    <constants>
        <description>Open</description>
        <name>OPEN</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>PREGNANCY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pregnancy</stringValue>
        </value>
    </constants>
    <constants>
        <name>SYSTOLIC_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Systolic Blood Pressure</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_Code_Set_Bundle_Records_to_Variables</name>
        <label>Assign Code Set Bundle Records to Variables</label>
        <locationX>1227</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Takes_Dementia_Medication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DEMENTIA_MEDICATION</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dementia_Medication</targetReference>
            </connector>
            <label>Takes Dementia Medication</label>
        </rules>
        <rules>
            <name>Has_ESRD_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ESRD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ESRD_Variable</targetReference>
            </connector>
            <label>Has ESRD Condition</label>
        </rules>
        <rules>
            <name>Has_High_Blood_Pressure_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HIGH_BLOOD_PRESSURE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Blood_Pressure</targetReference>
            </connector>
            <label>Has High Blood Pressure Condition</label>
        </rules>
        <rules>
            <name>Pregnant_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Bundle_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PREGNANCY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pregnancy</targetReference>
            </connector>
            <label>Pregnant Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Code_Set_records_to_Variables</name>
        <label>Assign Code Set records to Variables</label>
        <locationX>963</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Systolic_Blood_Pressure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SYSTOLIC_BLOOD_PRESSURE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Systolic_Code_Set_Record_Id</targetReference>
            </connector>
            <label>Is Systolic Blood Pressure</label>
        </rules>
        <rules>
            <name>Is_Diastolic_Blood_Pressure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Code_Set_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DIASTOLIC_BLOOD_PRESSURE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Diastolic_Blood_Pressure_Code_Set_Id</targetReference>
            </connector>
            <label>Is Diastolic Blood Pressure</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOB_Validation</name>
        <label>DOB Validation</label>
        <locationX>611</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>No_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DOB</defaultConnectorLabel>
        <rules>
            <name>Has_DOB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarD_BirthDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hypertension_Health_Condition_Details</targetReference>
            </connector>
            <label>Has DOB</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set whether the patient has high blood pressure or not</description>
        <name>Has_High_Blood_Pressure</name>
        <label>Has High Blood Pressure</label>
        <locationX>380</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Set_has_Hypertension_as_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No High Blood Pressure</defaultConnectorLabel>
        <rules>
            <name>HasHigh_Blood_Pressure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_Hypertension_HealthConditionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_has_Hypertension_as_True</targetReference>
            </connector>
            <label>Has High Blood Pressure</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates provided input</description>
        <name>Input_Validation</name>
        <label>Input Validation</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CareGapId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Code_Set_Records</targetReference>
            </connector>
            <label>Valid Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_On_Dementia_Medication</name>
        <label>Is On Dementia Medication</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Set_on_Medication_as_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Using Dementia Medication</defaultConnectorLabel>
        <rules>
            <name>Using_Dementia_Medication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_Dementia_MedicationStatementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_on_Medication_as_true</targetReference>
            </connector>
            <label>Using Dementia Medication</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_ESRD</name>
        <label>Validate ESRD</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>Set_ESRD_as_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not HSRD</defaultConnectorLabel>
        <rules>
            <name>Has_ESRD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_ESRD_HealthConditionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ESRD_as_true</targetReference>
            </connector>
            <label>Has ESRD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Pregnancy</name>
        <label>Validate Pregnancy</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Set_Pregnancy_as_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Pregnant</defaultConnectorLabel>
        <rules>
            <name>Is_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_Pregnant_HelathConditionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pregnancy_as_true</targetReference>
            </connector>
            <label>Is Pregnant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Systolic_and_Diastolic</name>
        <label>Validate Systolic and Diastolic</label>
        <locationX>380</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Systolic or Diastolic</defaultConnectorLabel>
        <rules>
            <name>Has_Systolic_and_Diastolic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarN_Systolic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarN_Diastolic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pregnancy_Health_Condition</targetReference>
            </connector>
            <label>Has Systolic and Diastolic</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HypertensionMeasureEvaluationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HypertensionMeasureEvaluationFlow</label>
    <loops>
        <name>Loop_Code_Set_Bundle_Records</name>
        <label>Loop Code Set Bundle Records</label>
        <locationX>611</locationX>
        <locationY>950</locationY>
        <collectionReference>AllCodeSetBundleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Code_Set_Bundle_Records_to_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Care_Gap_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Code_Set_Records</name>
        <label>Loop Code Set Records</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <collectionReference>AllCodeSetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Code_Set_records_to_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Code_Set_Bundle_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Care_Gap_Details</name>
        <label>Get Care Gap Details</label>
        <locationX>611</locationX>
        <locationY>1442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Birth_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </filters>
        <object>CareGap</object>
        <outputAssignments>
            <assignToReference>VarT_PatientId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarD_ReportingEndDate</assignToReference>
            <field>ReportingPeriodEndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarD_ReportingStartDate</assignToReference>
            <field>ReportingPeriodStartDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Code_Set_Bundle_Records</name>
        <label>Get Code Set Bundle Records</label>
        <locationX>611</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Code_Set_Bundle_Records</targetReference>
        </connector>
        <object>CodeSetBundle</object>
        <outputReference>AllCodeSetBundleRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Code_Set_Records</name>
        <label>Get Code Set Records</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Code_Set_Records</targetReference>
        </connector>
        <object>CodeSet</object>
        <outputReference>AllCodeSetRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Dementia_Medication_Statement</name>
        <label>Get Dementia Medication Statement</label>
        <locationX>182</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_On_Dementia_Medication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MedicationCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDEMENTIA_MEDICATION</elementReference>
            </value>
        </filters>
        <object>MedicationStatement</object>
        <outputAssignments>
            <assignToReference>VarT_Dementia_MedicationStatementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get care observation for the patient related to high blood pressure</description>
        <name>Get_Diastolic_Care_Observations</name>
        <label>Get Diastolic Care Observations</label>
        <locationX>380</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Systolic_and_Diastolic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObservedSubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDiastolic_Blood_Pressure</elementReference>
            </value>
        </filters>
        <object>CareObservation</object>
        <outputAssignments>
            <assignToReference>VarN_Diastolic</assignToReference>
            <field>NumericValue</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ESRD_Health_Condition</name>
        <label>Get ESRD Health Condition</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_ESRD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConditionCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varESRD</elementReference>
            </value>
        </filters>
        <object>HealthCondition</object>
        <outputAssignments>
            <assignToReference>VarT_ESRD_HealthConditionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Fetch Patient Health Condition Details</description>
        <name>Get_Hypertension_Health_Condition_Details</name>
        <label>Get Hypertension Health Condition Details</label>
        <locationX>380</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_High_Blood_Pressure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConditionCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHIGH_BLOOD_PRESSURE</elementReference>
            </value>
        </filters>
        <object>HealthCondition</object>
        <outputAssignments>
            <assignToReference>VarT_Hypertension_HealthConditionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Birth_Date</name>
        <label>Get Patient Birth Date</label>
        <locationX>611</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DOB_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarD_BirthDate</assignToReference>
            <field>PersonBirthdate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pregnancy_Health_Condition</name>
        <label>Get Pregnancy Health Condition</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Pregnancy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConditionCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPREGNANCY</elementReference>
            </value>
        </filters>
        <object>HealthCondition</object>
        <outputAssignments>
            <assignToReference>VarT_Pregnant_HelathConditionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get care observation data for the patient related to high blood pressure</description>
        <name>Get_Systolic_Care_Observations</name>
        <label>Get Systolic Care Observations</label>
        <locationX>380</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Diastolic_Care_Observations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObservedSubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSystolic_Blood_Pressure</elementReference>
            </value>
        </filters>
        <object>CareObservation</object>
        <outputAssignments>
            <assignToReference>VarN_Systolic</assignToReference>
            <field>NumericValue</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Updates the measure evaluation status with computed measure evaluation status</description>
        <name>Update_Care_Gap_Measure_Evaluation_Status</name>
        <label>Update Care Gap Measure Evaluation Status</label>
        <locationX>611</locationX>
        <locationY>3890</locationY>
        <connector>
            <targetReference>Update_Care_Gap_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareGapId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MeasureEvaluationStatus</field>
            <value>
                <stringValue>EvaluationComplete</stringValue>
            </value>
        </inputAssignments>
        <object>CareGap</object>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Validation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCodeSetBundleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CodeSetBundle</objectType>
    </variables>
    <variables>
        <name>AllCodeSetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CodeSet</objectType>
    </variables>
    <variables>
        <name>CareGapId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_HasESRD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_HasHighBloodPressure</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_IsOnMedication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarB_IsPregnant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarD_BirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarD_ReportingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarD_ReportingStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDEMENTIA_MEDICATION</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDiastolic_Blood_Pressure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varESRD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHIGH_BLOOD_PRESSURE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarN_Diastolic</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarN_Systolic</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPREGNANCY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSystolic_Blood_Pressure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the computed Status field of Care Gap</description>
        <name>VarT_ComputedCareGapStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Dementia_MedicationStatementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_ESRD_HealthConditionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Hypertension_HealthConditionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Pregnant_HelathConditionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
