force-app/main/default/flows/IAM_Appointment_Guidance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pediatric_Assignment</name>
        <label>Pediatric Assignment</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VisitTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Work_Type_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Type_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routine_Assignment</name>
        <label>Routine Assignment</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VisitTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Work_Type_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Type_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>txt_Pediatric_Check_Up</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pediatric Check Up</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Routine_Check_Up</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Routine Check Up</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Visit_Type_Decision</name>
        <label>Visit Type Decision</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Work_Type_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pediatric_Check_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_Age</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Work_Type_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_Pediatric_Check_Up</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pediatric_Assignment</targetReference>
            </connector>
            <label>Pediatric Check Up</label>
        </rules>
        <rules>
            <name>Routine_Check_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_Age</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Work_Type_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_Routine_Check_Up</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routine_Assignment</targetReference>
            </connector>
            <label>Routine Check Up</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IAM Appointment Guidance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IAM Appointment Guidance</label>
    <loops>
        <name>Loop_Work_Type_Records</name>
        <label>Loop Work Type Records</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_WorkType_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Visit_Type_Decision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Patient_Record</name>
        <label>Get Patient Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appointment_Guidance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType_Records</name>
        <label>Get WorkType Records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Work_Type_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_Pediatric_Check_Up</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_Routine_Check_Up</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Appointment_Guidance</name>
        <label>Appointment Guidance</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_WorkType_Records</targetReference>
        </connector>
        <fields>
            <name>Patient_Age_Question</name>
            <fieldText>&lt;p&gt;Is the patient less than 18 years old?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_Age</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patient Age</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
