force-app/main/default/flows/Mock_Callback_CBVR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mock_Callback</name>
        <label>Mock Callback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BV_CBVRSubmitter_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BV_CBVRSubmitter_Invocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Mock Callback (CBVR) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mock Callback (CBVR)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Mock</name>
            <fieldText>&lt;p&gt;Status: {!Mock_Callback.statusCode}&lt;/p&gt;&lt;p&gt;Coverage Benefit Id: &amp;nbsp;/lightning/r/CoverageBenefit__c/&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Mock_Callback.coverageBenefitId}&lt;/span&gt;/view&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mock_Callback</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
