force-app/main/default/flows/Notify_Patients_About_Home_Visits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action to send a custom notification to the patient who triggered the flow.</description>
        <name>SendNotificationToPatient</name>
        <label>Send Notification</label>
        <locationX>297</locationX>
        <locationY>900</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>PatientRequestNotificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{     type: &apos;standard__webPage&apos;,     attributes: {          url: &quot;#&quot;     }  }</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Store Custom Notification Type Id of Home Health Self Scheduling and Recipient Ids</description>
        <name>AssignCustomNotificationTypeIdAndRecipientIds</name>
        <label>Assign Custom Notification Type Id and Recipient Ids</label>
        <locationX>297</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>PatientRequestNotificationTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotificationToPatient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets PatientRequestNotificationTypeId to the ID of the record in Custom Notification Type from GetCustomNotificationType record variable, and adds the ID of the flow user to the RecipientIds collection.</description>
        <name>SetNotificationVariablesForPatientRequests</name>
        <label>Set Notification Variables for Patient Requests</label>
        <locationX>165</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>notificationSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Home visit request was approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBodyPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We&apos;ve approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBodySuffix</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AssignCustomNotificationTypeIdAndRecipientIds</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the text to be used as the default value of the request type for canceling a home visit.</description>
        <name>CancelRequestType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>cancel</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores a value that’s used as the default custom notification type name.</description>
        <name>PatientRequestNotificationType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient_Home_Visit_Notifications</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text to be used as the default value of the request type for rescheduling a home visit.</description>
        <name>RescheduleRequestType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>reschedule</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text to be used as the default value of the request type for scheduling a home visit.</description>
        <name>ScheduleRequestType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>schedule</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether a custom notification type record was found by checking if Custom Notification Type from GetCustomNotificationType contains a record.</description>
        <name>HaveCustomNotificationType</name>
        <label>Have Custom Notification Type?</label>
        <locationX>451</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasCustomNotificationType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCustomNotificationType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsPatientRequestApproved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the status of the party appointment request record that triggered the flow is Approved.</description>
        <name>IsPatientRequestApproved</name>
        <label>Is Patient Request Approved?</label>
        <locationX>297</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>AssignCustomNotificationTypeIdAndRecipientIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNotificationVariablesForPatientRequests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Determines the text that’s used for the request type based on the party appointment request record passed into the flow.</description>
        <name>RequestTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!RequestType}  =  &apos;Schedule&apos;, {!ScheduleRequestType}, IF({!RequestType} == &apos;Reschedule&apos;, {!RescheduleRequestType},  {!CancelRequestType}  ))</expression>
    </formulas>
    <formulas>
        <description>Determines the service requested by the patient for the home visit.</description>
        <name>ServiceFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.AppointmentReference.WorkType.Name}, {!$Record.ServiceContext.Name})</expression>
    </formulas>
    <formulas>
        <description>Determines the date and time of the home visit based on the date and time values of the party appointment request record that’s passed into the flow.</description>
        <name>VisitDateTimeFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.AppointmentReference.SchedStartTime}),
     BLANKVALUE(TEXT({!$Record.AppointmentReference.EarliestStartTime}), 
           BLANKVALUE(TEXT({!$Record.StartDateTime}), TEXT({!$Record.CreatedDate})) ))</expression>
    </formulas>
    <interviewLabel>Notify Patients About Home Visits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Patients About Home Visits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the custom notification type record with a DeveloperName matching the value specified in PatientRequestNotificationType. Stores the result in Custom Notification Type from GetCustomNotificationType record variable.</description>
        <name>GetCustomNotificationType</name>
        <label>Get Custom Notification Type</label>
        <locationX>451</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveCustomNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientRequestNotificationType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>homehealth_flows__NotePtntAbtHmVisit</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND ( 2 OR 3) AND 4 AND (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRequestId__NotFound</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RequestType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>RequestType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reschedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>RequestType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <object>PartyAppointmentRequest</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetCustomNotificationType</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the text template that contains the body of the notification to be used when notifying patients about the status of their home visit requests.</description>
        <name>NotificationBodyTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!notificationBodyPrefix} your request to {!RequestTypeFormula} the home visit. {!notificationBodySuffix}
Service: {!ServiceFormula}
Visit Date: {!VisitDateTimeFormula}</text>
    </textTemplates>
    <variables>
        <description>Stores the prefix that’s added to the body of the notification.</description>
        <name>notificationBodyPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>We couldn’t approve</stringValue>
        </value>
    </variables>
    <variables>
        <description>Notification Body Suffix</description>
        <name>notificationBodySuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Try again or contact your agency for help.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the notification subject to be used when notifying patients about their home visit requests.</description>
        <name>notificationSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Home visit request wasn&apos;t approved</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the custom notification type record returned by GetCustomNotificationType.</description>
        <name>PatientRequestNotificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the flow user.</description>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the request type of the party appointment request record that’s passed into the flow.</description>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.RequestType</elementReference>
        </value>
    </variables>
</Flow>
