force-app/main/default/flows/pam_assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_54f7b821_ce74_4d6e_a073_923c72987a67</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0327e94e_903a_47e2_866e_3159ef1a97bf</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_06479e3e_93ad_4ddf_b1d4_1fd79b3f6203</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0d4a9a42_5859_4646_aa8e_4a23554de7e6</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1ffb4b79_c995_452b_8bf5_19460323c9c5</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3221a2ec_7520_495c_ac41_ab3cb6fdb6e3</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3668e6dd_dee7_4261_bdb0_ee67e3f242a8</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3d1e87ac_6390_4eac_b430_e874015dc7f2</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_46296107_640b_4d47_a7ea_711da4b60d2b</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_66f399be_c5b4_44f4_be0f_d89b4510d56a</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7195dd04_c04b_44b5_8977_e5f19b62aca4</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7dbcc46f_abc3_4b6e_8bd3_dc2eed239a68</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_921116b1_c443_41e9_85f0_e93238a152ac</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9b1d6d9d_d79d_46bd_bbda_7c03204e5d7f</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e394d9e_c4f9_47f8_a872_29f5d23d9659</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9f480021_fbbd_495a_857c_801d08c52775</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a0b811d4_9f84_43e7_b1fa_92a09492dbec</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa4fffed_ebaf_47ae_809d_2f5548025b6d</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ab60981e_88a7_46bc_a431_8b3fb298bb17</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ac760644_3253_4230_bb92_90fdeae5d09a</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b6b91e22_2080_425a_94aa_a008fca4c585</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bfd0f8e5_c0cf_4dc1_9622_90ebd22c5d64</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c6f92f13_107f_444c_b6c2_03fdb71851ed</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ccfecddb_c72c_444f_92e3_ba183c67fd4a</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d5c0a0ff_ae68_42be_8763_ccbce0ecb09d</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eacc5b38_f752_4aa4_9f2b_1fae8b06c3ce</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f2ef25e4_8d6b_4092_817e_af634177df3f</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f62edeb9_cb4e_43ce_bdcc_ad09a2038d32</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f6b401ba_79f7_41af_b460_79227f78450a</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f7fa3f68_c81b_4d50_92aa_bd51e1cca06b</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fd655784_6954_4481_990d_150024c0772a</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <interviewLabel>PAM Assessment</interviewLabel>
    <label>PAM Assessment</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_54f7b821_ce74_4d6e_a073_923c72987a67</name>
        <label>Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_61d28838_cb14_43a9_a329_228c35e6ea41</name>
            <choiceReferences>c_b6b91e22_2080_425a_94aa_a008fca4c585</choiceReferences>
            <choiceReferences>c_06479e3e_93ad_4ddf_b1d4_1fd79b3f6203</choiceReferences>
            <choiceReferences>c_0327e94e_903a_47e2_866e_3159ef1a97bf</choiceReferences>
            <choiceReferences>c_1ffb4b79_c995_452b_8bf5_19460323c9c5</choiceReferences>
            <choiceReferences>c_f2ef25e4_8d6b_4092_817e_af634177df3f</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;When all is said and done, I am the person who is responsible for taking care of my health?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2fdef0be_fe70_4427_bcef_22c0c525ccbc</name>
            <choiceReferences>c_9e394d9e_c4f9_47f8_a872_29f5d23d9659</choiceReferences>
            <choiceReferences>c_f6b401ba_79f7_41af_b460_79227f78450a</choiceReferences>
            <choiceReferences>c_bfd0f8e5_c0cf_4dc1_9622_90ebd22c5d64</choiceReferences>
            <choiceReferences>c_c6f92f13_107f_444c_b6c2_03fdb71851ed</choiceReferences>
            <choiceReferences>c_3d1e87ac_6390_4eac_b430_e874015dc7f2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;I know what each of my prescribed medications do.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1ffb4b79_c995_452b_8bf5_19460323c9c5</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f2ef25e4_8d6b_4092_817e_af634177df3f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c2725b90_0f0e_40db_8cb3_db3c8acdece0</name>
            <choiceReferences>c_66f399be_c5b4_44f4_be0f_d89b4510d56a</choiceReferences>
            <choiceReferences>c_7195dd04_c04b_44b5_8977_e5f19b62aca4</choiceReferences>
            <choiceReferences>c_46296107_640b_4d47_a7ea_711da4b60d2b</choiceReferences>
            <choiceReferences>c_9f480021_fbbd_495a_857c_801d08c52775</choiceReferences>
            <choiceReferences>c_aa4fffed_ebaf_47ae_809d_2f5548025b6d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;I am confident that I can tell whether I need to go to the doctor or whether I can take care of a health problem myself.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1ffb4b79_c995_452b_8bf5_19460323c9c5</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f2ef25e4_8d6b_4092_817e_af634177df3f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a00cfd21_4a21_457d_8edc_24e5f0e1b28a</name>
            <choiceReferences>c_eacc5b38_f752_4aa4_9f2b_1fae8b06c3ce</choiceReferences>
            <choiceReferences>c_9b1d6d9d_d79d_46bd_bbda_7c03204e5d7f</choiceReferences>
            <choiceReferences>c_fd655784_6954_4481_990d_150024c0772a</choiceReferences>
            <choiceReferences>c_0d4a9a42_5859_4646_aa8e_4a23554de7e6</choiceReferences>
            <choiceReferences>c_921116b1_c443_41e9_85f0_e93238a152ac</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;I am confident that I can tell a doctor concerns I have even when he or she does not ask.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1ffb4b79_c995_452b_8bf5_19460323c9c5</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f2ef25e4_8d6b_4092_817e_af634177df3f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e0b0c46c_0df9_471c_a524_c27589147598</name>
            <choiceReferences>c_3668e6dd_dee7_4261_bdb0_ee67e3f242a8</choiceReferences>
            <choiceReferences>c_7dbcc46f_abc3_4b6e_8bd3_dc2eed239a68</choiceReferences>
            <choiceReferences>c_d5c0a0ff_ae68_42be_8763_ccbce0ecb09d</choiceReferences>
            <choiceReferences>c_ac760644_3253_4230_bb92_90fdeae5d09a</choiceReferences>
            <choiceReferences>c_f62edeb9_cb4e_43ce_bdcc_ad09a2038d32</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;I have been able to maintain (keep up with) lifestyle changes, like eating right or exercising.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1ffb4b79_c995_452b_8bf5_19460323c9c5</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f2ef25e4_8d6b_4092_817e_af634177df3f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4721cea6_2771_4975_b21b_ce672cb5219e</name>
            <choiceReferences>c_3221a2ec_7520_495c_ac41_ab3cb6fdb6e3</choiceReferences>
            <choiceReferences>c_ab60981e_88a7_46bc_a431_8b3fb298bb17</choiceReferences>
            <choiceReferences>c_a0b811d4_9f84_43e7_b1fa_92a09492dbec</choiceReferences>
            <choiceReferences>c_ccfecddb_c72c_444f_92e3_ba183c67fd4a</choiceReferences>
            <choiceReferences>c_f7fa3f68_c81b_4d50_92aa_bd51e1cca06b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;I am confident that I can maintain lifestyle changes, like eating right and exercising, even during times of stress.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1ffb4b79_c995_452b_8bf5_19460323c9c5</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61d28838_cb14_43a9_a329_228c35e6ea41</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f2ef25e4_8d6b_4092_817e_af634177df3f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_54f7b821_ce74_4d6e_a073_923c72987a67</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank You!!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Welcome!!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
