force-app/main/default/flows/Record_Apheresis_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Decision_Table</name>
        <label>Invoke Decision Table</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <actionName>FieldOptionalityOverride_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>getFieldList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CountryId</name>
            <value>
                <elementReference>geoCountryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkTypeId</name>
            <value>
                <elementReference>workTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkTypeStepId</name>
            <value>
                <elementReference>workTypeStepId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TaskName</name>
            <value>
                <elementReference>flowTaskName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTerritoryId</name>
            <value>
                <elementReference>enrollmentLocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkProcedureId</name>
            <value>
                <elementReference>workProcedureId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FieldOptionalityOverride_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>enrollment_empty</name>
        <label>enrollment empty</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>enrollmentLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_geo_country_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Geocountry_to_empty_string</name>
        <label>Geocountry to empty string</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>geoCountryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Flow_Task_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>enrollment_is_null</name>
        <label>enrollment is null</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_ST_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>enrollment_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>enrollment_empty</targetReference>
            </connector>
            <label>enrollment null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_geo_country_null</name>
        <label>if geo country null</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Flow_Task_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>geocountry_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>geoCountryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Geocountry_to_empty_string</targetReference>
            </connector>
            <label>geocountry null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Apheresis Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Apheresis Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Enrollment_Location</name>
        <label>Get Enrollment Location</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Procedures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careProgramEnrolleeId</elementReference>
            </value>
        </filters>
        <object>CareProgramEnrollee</object>
        <outputAssignments>
            <assignToReference>careProgramId</assignToReference>
            <field>CareProgramId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workTypeId</assignToReference>
            <field>CurrentWorkOrderId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workTypeStepId</assignToReference>
            <field>CurrentWorkOrderStepId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>enrollmentLocationId</assignToReference>
            <field>EnrollmentLocationId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Task_Name</name>
        <label>Get Flow Task Name</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_Decision_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assessmentTaskId</elementReference>
            </value>
        </filters>
        <object>AssessmentTask</object>
        <outputAssignments>
            <assignToReference>flowTaskName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ST_Country</name>
        <label>Get ST Country</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGeoCountry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enrollmentLocationId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>countryName</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Procedures</name>
        <label>Get Work Procedures</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>enrollment_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careProgramId</elementReference>
            </value>
        </filters>
        <object>WorkProcedure</object>
        <outputAssignments>
            <assignToReference>workProcedureId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getFieldList</name>
        <label>getFieldList</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Field_Label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoke_Decision_Table.singleOutcome.Id</elementReference>
            </value>
        </filters>
        <object>AdvTherapyFieldOptOverride</object>
        <outputAssignments>
            <assignToReference>fieldList</assignToReference>
            <field>FieldList</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetGeoCountry</name>
        <label>Get Geo Country</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_geo_country_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>countryName</elementReference>
            </value>
        </filters>
        <object>GeoCountry</object>
        <outputAssignments>
            <assignToReference>geoCountryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Field_Label</name>
        <label>Field Label</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_COC_Task</targetReference>
        </connector>
        <fields>
            <name>fieldVariabilityDisplay</name>
            <extensionName>c:fieldVariabilityDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>fieldList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enrollment_Location</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_COC_Task</name>
        <label>Create COC Task</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <flowName>COC_Creation_for_Task_Subflow</flowName>
        <inputAssignments>
            <name>assessmentTaskId</name>
            <value>
                <elementReference>assessmentTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>carePgmEnrolleeWkOrdStepId</name>
            <value>
                <elementReference>carePgmEnrolleeWkOrdStepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>careProgramEnrolleeId</name>
            <value>
                <elementReference>careProgramEnrolleeId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>assessmentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carePgmEnrolleeWkOrdStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>careProgramEnrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>careProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>countryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enrollmentLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>fieldList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>geoCountryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>workProcedureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>workTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>workTypeStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
