force-app/main/default/flows/Verify_Home_Health_Visit_Electronically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Verify Home Health Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Home Health Visit Electronically</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the service resource that’s assigned to a user for providing the home visit.</description>
        <name>GetServiceResource</name>
        <label>Get Service Resource</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateVisitVerificationInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>homehealth_flows__VerifyHmVisitElec</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetServiceResource</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Receives inputs about the care resource and updates the visit verification information when the visit status is changed to In Progress or Completed. Visit information such as visit start and end date and visit start and end location are updated.</description>
        <name>UpdateVisitVerificationInformation</name>
        <label>Update Visit Verification Information</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>homehealth_flows__UpdtVrfyHmVisitDtl</flowName>
        <inputAssignments>
            <name>dateTime</name>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>latitude</name>
            <value>
                <elementReference>GetServiceResource.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>longitude</name>
            <value>
                <elementReference>GetServiceResource.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>verificationType</name>
        </inputAssignments>
        <inputAssignments>
            <name>visitedBy</name>
            <value>
                <elementReference>GetServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
