force-app/main/default/flows/Verify_Benefits_CBVR_UI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Verify_JSON</name>
        <label>Parse Verify JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BV_ResponseParser_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cbvrId</name>
            <value>
                <elementReference>Verify_Benefits.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BV_ResponseParser_Invocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Verify_Benefits</name>
        <label>Verify Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BV_VerifyService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Verify_JSON</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BV_VerifyService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Verify Benefits (CBVR) – UI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Benefits (CBVR) – UI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Verification</name>
        <label>Verification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Results</name>
            <fieldText>&lt;p&gt;Status: {!Verify_Benefits.statusCode}&lt;/p&gt;&lt;p&gt;Message: {!Verify_Benefits.error}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;--- Parsed Details ---&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Plan Name: {!Parse_Verify_JSON.name}&lt;/p&gt;&lt;p&gt;Service Type: {!Parse_Verify_JSON.serviceType}&lt;/p&gt;&lt;p&gt;Service Date: {!Parse_Verify_JSON.serviceDate}&lt;/p&gt;&lt;p&gt;External Request Id: {!Parse_Verify_JSON.externalRequestId}&lt;/p&gt;&lt;p&gt;Request Id: {!Parse_Verify_JSON.requestId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Benefits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
