force-app/main/default/flows/WoundCare.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Arms</name>
        <choiceText>Arms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Specialist_Task</name>
        <choiceText>Create Specialist Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Specialist Task</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Supplies_Order_Task</name>
        <choiceText>Create Supplies Order Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Supplies Order Task</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hands</name>
        <choiceText>Hands</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hands</stringValue>
        </value>
    </choices>
    <choices>
        <name>Head</name>
        <choiceText>Head</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Head</stringValue>
        </value>
    </choices>
    <choices>
        <name>Initiate_Referral</name>
        <choiceText>Initiate Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Initiate Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legs</name>
        <choiceText>Legs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mild</name>
        <choiceText>Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Moderate</name>
        <choiceText>Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Notify_Coordinator</name>
        <choiceText>Notify Coordinator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify Coordinator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Severe</name>
        <choiceText>Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Torso</name>
        <choiceText>Torso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Torso</stringValue>
        </value>
    </choices>
    <constants>
        <name>ImageID</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Notify</name>
        <label>Notify</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Support</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Notify_Coordinator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Coordinator</label>
        </rules>
        <rules>
            <name>Supplies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Support</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Supplies_Order_Task</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Supplies</targetReference>
            </connector>
            <label>Supplies</label>
        </rules>
        <rules>
            <name>InfectedLogic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InfectedFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfectedScreen</targetReference>
            </connector>
            <label>Infected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Dressing</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>WoundCare {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WoundCare</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Referral</name>
            <fieldText>&lt;p&gt;📤 Thank you for initiating an internal referral! We&apos;ll populate most information from the patient&apos;s health record. Please add your context to the area below for Specialist review:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referral_Notes</name>
            <fieldText>Referral Notes:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dynamic_Flow</name>
        <label>Dynamic Flow</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Notify</targetReference>
        </connector>
        <fields>
            <name>TakeImage</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Take Image of Wound</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InfectedFlow</name>
            <dataType>Boolean</dataType>
            <fieldText>Infected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Wound_Status</name>
            <choiceReferences>Mild</choiceReferences>
            <choiceReferences>Moderate</choiceReferences>
            <choiceReferences>Severe</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <choiceReferences>Head</choiceReferences>
            <choiceReferences>Torso</choiceReferences>
            <choiceReferences>Arms</choiceReferences>
            <choiceReferences>Legs</choiceReferences>
            <choiceReferences>Hands</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diameter</name>
            <dataType>Number</dataType>
            <fieldText>Diameter (MM)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Additional_Support</name>
            <choiceReferences>Notify_Coordinator</choiceReferences>
            <choiceReferences>Create_Specialist_Task</choiceReferences>
            <choiceReferences>Create_Supplies_Order_Task</choiceReferences>
            <choiceReferences>Initiate_Referral</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Additional Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InfectedScreen</name>
        <label>InfectedScreen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Additional_APR</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Additional APR</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>APR_Notes</name>
            <fieldText>APR Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_to_Coordinator</name>
            <fieldText>Message to Coordinator</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Supplies</name>
        <label>Order Supplies</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Order_Supply</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Order Supply</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dynamic_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectedImages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WouldIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
